.home-main-bg {
  height: calc(100vh - 80px);
  background: url(bgmaybe.png);

  display: flex;
  justify-content: center;
  align-items: center;
}

.home-main-bg h1 {
  margin: 0;
  font-size: 8rem;
  color: rgb(238, 238, 238);
  background-color: rgb(39, 39, 255);
  padding: 0px 5px 2px 5px;
  font-family:Arial, Helvetica, sans-serif
}





.home-below-main {
  background-color: lightslategray;
}

.home-card-area {
  display: flex;
  justify-content: center;
  background-color: lightslategray;
}

.home-card-container {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0;

}

.home-card {
  margin: 20px 10px;
  width: 300px;
  height: 400px;
  border-radius: .5rem;
  background-color: rgb(224, 152, 16);

  animation: card-animation-end 0.75s cubic-bezier(0, 0, 0, 1) forwards
}

.home-card:hover {
  cursor: pointer;

  animation: card-animation 0.75s cubic-bezier(0, 0, 0, 1) forwards;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  /* animation:cubic-bezier(0.075, 0.82, 0.165, 1); */
}

@keyframes card-animation {
  from {transform: translate(0px, 0px);}
  to {transform: translate(0px, -20px);}
}

@keyframes card-animation-end {
  from {transform: translate(0px, -20px);}
  to {transform: translate(0px, 0px);}
}

.home-card-title-area {
  padding-top: 10px;
}

.home-card-title-text {
  padding-left: 15px;
  padding-right: 15px;
  list-style-type: none;
  font-weight: bold;
  font-size: 2rem;
}

.home-map-bookings {
  padding-bottom: 25px;
}

.home-bookings-div {
  display: flex;
  align-items: center;
}

.home-bookings-list {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.home-edit-booking-button {
  height: 22px;
}

.home-delete-booking-button {
  margin: 5px;
  height: 22px;
}