.location-page-top {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.location-page-info-container {
  /* margin-left: 30px;  */
  /* margin-top: 30px; */
  width: 500px;
  padding: 50px;
  /* width: fit-content; */
}

.location-page-h1 {
  margin-bottom: 0px;
}

.location-page-desc {
  margin-top: 0;
}

.location-page-booking-modal {
  position: absolute;

  top: 100px;
  left: 20%;
  width: 60%;

  /* top: 100px; */
  /* left: 500px; */
  height: 80%;


  /* display: flex; */
  /* flex-direction:column; */

  background-color: lightgray;
  /* width: 800px; */
  /* height: 600px; */
  border-radius: .5rem;
}

.location-page-start {
  margin-left: 5px;
  margin-right: 5px;
}

.location-page-end {
  margin-right: 5px;
}

.location-page-booking-form {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.location-page-book {
  margin-left: 15px;
}

.location-page-cancel {
  margin-left: 15px;
  margin-right: 5px;
}

/* .location-page-reviews-container { */
  /* margin-left: 10px; */
  /* margin-top: 5px; */
/* } */

.location-page-check {
  position: absolute;
  top: 80;
  left: 0;
  margin-top: 0px;
  opacity: 0;
  cursor: default;
}

.location-page-div-animation {
  position: absolute;
  top: 83;
  left: 3;

  padding-top: 5px;
  text-align: center;

  opacity: 0;
  cursor: default;
  height: 25px;
  width: 100px;
  border-radius: .25rem;
  background-color: lime;
}

.location-page-book:hover {
  animation: booked-confirmation 3s;
}

@keyframes booked-confirmation {
  from {opacity: 1;}
  to {opacity: 0;}
} 