.global-top-left {
  position: absolute;
  top: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* button {

} */

/* .button-style:hover {
  box-shadow: 0px 0px 100px rgb(179, 179, 179);
} */