body {
  overflow-x: hidden;
}

form {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.global-top-left {
  position: absolute;
  min-height: 100vh;
  /* width: calc(100vw - 17px); */
  width: 100vw;
  top: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.global-button-style {
  background-color: rgb(211, 211, 211);
  border-radius: .5rem;
  box-shadow: 0px 0 3px rgb(39, 39, 39);
}

.global-button-style:hover {
  cursor: pointer;
  animation: button-hover ease-out .125s forwards;
}

@keyframes button-hover {
  from {background-color: rgb(211, 211, 211);}
  to {background-color: rgb(177, 177, 177);}
}

.global-margin-bottom {
  margin-bottom: 25px;
}