/* .login html {
    background-color: rgb(84, 192, 192);
} */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:33vh; 
}

.login-eleBelow {
    background-color: aqua;
    padding: 10px;
}

.login-label {
  font-weight: bold;
  font-size: 24px;
}

.login-input {
    margin-left: 10px;
}