/* html {
    background-color: rgb(84, 192, 192);
} */

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:33vh;
    margin-top: 50px;
    
}

.signup-eleBelow {
    background-color: aqua;
    padding: 10px;
}

.signup-input {
    margin-left: 10px;
}

.signup-label {
    font-weight: bold;
    font-size: 24px;
}