/* html {
    overflow: hidden;
} */

/* .navContainer {
    width: 80vw;
    left: 10%;
} */

.navBar {
    position: fixed;
    display:flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    width: 80vw;
    right: 10%;
    z-index: 1;
    margin: 0px;
}

/* .pageC > li {
    color: red;
}
.content {
    position: relative;
    justify-content: center;
    display: flex;
    padding-top: 100px;
} */
