.fas {
    color: black;
    /* width: 10px; */
}

.navContainer {
    height:80px;
}

.home > a {
    text-decoration: none;
    color: black;
}

.nlink {
    font-size: 40px;
}

.navBar {
    box-sizing: border-box;
    position: fixed;
    display:flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    width: 80vw;
    right: 10%;
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(10, 169, 190);
}
